[2012-10-08 21:16] devinus opened #5 "EEx highlighting, highlighting within HTML like Erb?"
I know it's possible to have sub-highlighters, not sure how.

[2012-10-09 06:15] #5 closed, assigned to nobody

[2013-03-25 17:49] mmorearty opened #8 "Add this project to "Sublime Package Control""
( @rodrigoflores please read, this is related to your [elixir-sublimetext](https://github.com/rodrigoflores/elixir-sublimetext) project )

I think it would be nice to add this project as a package in [Sublime Package Control](http://wbond.net/sublime_packages/package_control). That's easy, but the tricky part is, I think its name should be "Elixir," but there is already an existing package with th

[2013-03-25 18:53] #8 closed, assigned to nobody

[2013-07-16 13:34] ghost opened #13 "the url in github description is outdated"
outdated url:

[code]

as seen in description on: https://github.com/elixir-lang/elixir-tmbundle

I also see the same url in package control's list packages

[2013-07-16 13:43] #13 closed, assigned to nobody

[2013-07-23 18:32] ghost opened #14 "could `def*` `end` act like brackets?"
If they could, Ctrl+M would be able to jump through them just like it does for brackets

I find myself looking at and `end` whose `def` I cannot find/see, especially since `Reindent lines` didn't do a great job (probably because of the `#` comments inbetween)

oh wait I see it, it's a `fn() ->` that's the beginning of this `end`

[2013-07-24 06:16] #14 closed, assigned to nobody

[2013-07-24 10:07] ghost opened #15 "try/do indenting is incorrect in sublimetext when rescue is present"
like so:

[code]

<del>looks like it's because of that `->` after RuntimeError, when that is not present the indenting works fine ie. </del>Edit->Line->Reindent

<del>it's probably related to `fn () ->` ... `end`  indenting?</del> <del>because the `rescue` keyword need not be present and it still happens</del>

EDIT: actually, it happens when `rescue` exists <del>and `->` doesn't, but not when `re

[2013-07-26 07:06] ghost opened #16 "escapes not correctly detected in %r"esc\apedstrings""
see the uncolored `\\` and `\a` on the right hand side:

![escapes sublime](https://f.cloud.github.com/assets/51895/860968/bcb9d1bc-f5c1-11e2-8f86-a5698d4cb82e.jpg)

EDIT: same thing happens when `/` is used instead of `"` ie. `%r/.* \abc/`

[2013-07-26 12:00] #16 closed, assigned to nobody

[2013-07-28 16:58] ghost opened #18 "Ctrl+B (aka Tools->Build) is not Mix friendly"
I usually find myself editing a file inside a project with SublimeText3 and Ctrl+B calls elixir, completely ignoring Mix so if I have things that `require` in my code I get `module Benchmark is not loaded and could not be found`

the command is here: https://github.com/elixir-lang/elixir-tmbundle/blob/master/elixir.sublime-build#L5

I was wondering if it makes sense to have it run `mix` somehow bu

[2013-07-28 16:58] #18 closed, assigned to nobody

[2014-08-01 15:37] #15 closed, assigned to nobody

[2014-08-08 14:08] elia opened #29 "Rename repo to elixir.tmbundle"
All newer textmate bundle repos are named that way and the fine folks at @github will guarantee the old repo address to keep function for the HTML ui, git checkouts and forks

https://help.github.com/articles/renaming-a-repository

[2014-08-08 14:19] #29 closed, assigned to nobody

[2014-09-14 00:57] tsjnsn opened #30 "Double quoting in Windows / Sublime Text 3"
I'm using Sublime Text 3, and I get the error
path\to\file.ex\""=="" was unexpected at this time (double quoting) from the build system + elixir.bat file. I am able to build with the following modifications to the build file:
<code>
...
"windows": {
    "cmd": ["elixir.bat", "$file"]
}
...
</code>

to
<code>
...
"windows": {
    "working_dir": "$file_path",
    "cmd": ["elixir.bat", "$file_name"]

[2014-09-14 12:29] #30 closed, assigned to nobody

[2014-12-25 16:35] nykolaslima opened #33 "TextMate 2.0-beta.6 bundle not working"
I followed install instructions into README but the bundle doesn't appear into TextMate.

Should I do anything else to get it working?

[2014-12-25 16:44] #33 closed, assigned to nobody

[2015-04-29 15:34] Javix opened #37 "TextMate version 2.0-beta.7.1 - installation failed"
I tried to install the Textmate bundle as suggested and it failed as follows:
[code]
Anyway, the bundle is in the Textmate bundle list with all its submenus and options. Is it normal ?
Any ideas ?
OS: OS X 10.10.3 x64

Thank you.

[2015-07-12 14:07] eksperimental opened #38 "Description of the project should mention "Sublime Text""
Maybe something like

[2015-07-12 14:28] josevalim commented on #38
Done too! Thank you! :heart:

[2015-07-12 14:33] eksperimental commented on #38
Great! ;-D

[2015-07-12 14:33] #38 closed

[2015-07-13 04:00] rod-eligible commented on #37
I have exactly the same issue with textmate 2.0-beta.7.4

[2015-09-10 15:23] ericmj opened #46 "Argument starting with do breaks highlighting"
<img width="387" alt="screen shot 2015-09-10 at 17 22 32" src="https://cloud.githubusercontent.com/assets/316890/9792501/a93d35ec-57e0-11e5-8636-23bbbd7e20dc.png">

/cc @endersstocker

[2015-09-10 16:45] #46 closed

[2015-09-10 17:13] vol0da opened #48 "Sublime Text: Goto Symbol for modules doesn't work anymore"
It seems like the commit b60cef8 breaks Goto functionality for modules

[2015-09-10 17:18] josevalim commented on #48
/cc @endersstocker

[2015-09-10 18:05] #48 closed

[2015-09-10 18:40] jannekai opened #50 "New changes break syntax highlight on Sublime Text 3"
Seems like the latest changes break syntax highlighting when using Sublime Text 3 or at least reduce it's functionality. Function parameters are all shown with same color and worse, the module name is not highlighted in statements like below:

use Behaviour
require Logger
Enum.map [1,2,3], fn x -> x + 1 end

Here is a couple of screenshots showing what it looks like for me:

The last working one w

[2015-09-10 18:50] josevalim commented on #50
/cc @endersstocker

[2015-09-10 18:59] endersstocker commented on #50
@jannekai What scope selector are you using for module names (e.g. MyStruct, Enum)? What happens if you use `support.module`?

[2015-09-10 19:57] #50 closed

[2015-09-24 18:49] TheFirstAvenger opened #66 "Issues with -> in string"
defmodule Test do
      def test do
        IO.puts "->"
        ret
      end
    end

both the "puts" and "ret" are parsed as parameters (orange in sublimetext 3).

[2015-09-25 14:53] josevalim commented on #66
/cc @endersstocker

[2015-10-12 11:17] CharlesOkwuagwu opened #71 "What is the "~/.config/sublime-text-2/Packages" path for windows?"
cd ~/.config/sublime-text-2/Packages # If you are on Linux
cd ~/Library/Application\ Support/Sublime\ Text\ 2/Packages # If you are on Mac
cd xxx # if you are on Windows

**On my machine:**
C:\Users\Charles\AppData\Roaming\Sublime Text 3\Packages

Please confirm if this is the correct equivalent for windows, and kindly update the read-me to reflect this.

**some errors:**

C:\>cd tools

C:\Tools>g

[2015-10-12 11:34] CharlesOkwuagwu commented on #71
Windows file names cannot have **:** in them for hence these 3 are invalid:

'Preferences/Symbol List: Module.tmPreferences'
'Preferences/Symbol List: Private Function.tmPreferences'
'Preferences/Symbol List: Public Function.tmPreferences'

[2015-11-09 06:34] binaryseed opened #73 "Single line function's `do` being rendered as keyword list"
I updated recently and I've found that in a single-line function, the `do:` and `else:` look like they're being treated as a keyword list instead of the standard operator

[code]

<img width="647" alt="screen shot 2015-11-08 at 10 22 11 pm" src="https://cloud.githubusercontent.com/assets/39946/11027138/32d6e3ac-8667-11e5-8a81-0ed362cce90e.png">

Previously, it'd look like this:

<img width="644" a

[2015-11-09 11:01] endersstocker commented on #73
In a single-line function, `do` and `else` _are_ a keyword list.

[2015-11-09 15:52] binaryseed commented on #73
Yes, I'm aware of that, but `do` and `else` have special significance. In the 'old' screenshot, you can see that in line 7, there's additional items in the keyword list that are treated as I would expect - the `also:` key is interpreted as a normal key.

If there isn't interest in changing this in the main repo, could you perhaps help me understand which sections of the `tmLanguage` are responsibl

[2015-11-10 15:52] binaryseed commented on #73
Relevant fixes have been merged in https://github.com/elixir-lang/elixir-tmbundle/pull/74

[2015-11-10 15:52] #73 closed

[2015-11-17 19:12] jamonholmgren opened #76 "Issue with head/tail syntax in a tuple"
Example:

[code]

I'm not sure when I'll have time to take a crack at this, but I figured I'd file the issue anyway. I noticed this issue on Github and Sublime.

[2015-11-19 13:30] endersstocker commented on #76
Fixed in #77

[2015-11-19 13:30] #76 closed

[2015-11-19 13:50] endersstocker commented on #71
@CharlesOkwuagwu I don’t have access to Windows at the moment. Can you verify that `cd %HOMEPATH%\AppData\Roaming\Sublime Text 3\Packages` gets you to that directory? What version of Windows are you using?

[2015-11-19 14:37] endersstocker commented on #66
Fixed in #68

[2015-11-19 14:37] #66 closed

[2015-11-19 14:38] #37 closed

[2015-11-19 14:57] CharlesOkwuagwu commented on #71
windows 10

Yes it does

[2015-11-19 14:58] josevalim commented on #71
Thanks for taking of those issues @endersstocker, very appreciated!  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-11-19 15:53] #71 closed

[2015-11-20 01:12] jamonholmgren commented on #76
Thanks @endersstocker ! Really appreciate it.

[2015-12-09 01:31] nate opened #81 "File Icons"
The [elixir file icons](http://monosnap.sutton.me/elixir_icons.png) for the file drawer are looking pretty plain. [Ruby has some sweet ones](http://monosnap.sutton.me/20151208190539-ruby_icons.png) but I can't find anything in the ruby bundle that specifies these icons. Do you happen to know how to change these? I'd be willing to put something together to spiff it up a bit and contribute it back.

[2015-12-21 12:03] sashaafm opened #83 "Function parameters do not get colored when the function's signature spans multiple lines"
Hello, I just wanted to report this bug:

When you have something like
`def insert_attachment(conn, %{"ticket_message" => ticket_message,`

`"ticket_id"     => ticket_id}) do`

the 'ticket_message' turns one color and 'ticket_id' continues to be white. If they are both on the same line then they both get colored the same.

[2015-12-28 22:20] CharlesOkwuagwu opened #87 "snippets named with : will not work on windows"
The new snippets:

if:, unless:, if: else:, and unless: else will not work on windows...

Would you name them something different?

[2015-12-29 08:20] josevalim commented on #87
Yes, we should. :) /cc @jefffederman

[2015-12-29 10:05] jefffederman commented on #87
Done! :-)

https://github.com/elixir-lang/elixir-tmbundle/pull/88

[2015-12-29 23:02] CharlesOkwuagwu commented on #87
Actually it was the file names that needs changing... you still have file names containing ":"

the file named Snippets/if:.tmSnippet for example

Windows file names cannot have a ":"

[2015-12-29 23:40] jefffederman commented on #87
@CharlesOkwuagwu I'm assuming that mean the snippet name can have a colon in it, then. See the Javascript snippet for 'Object key – key: "value"'.

<img width="717" alt="key_value" src="https://cloud.githubusercontent.com/assets/163454/12044196/95664e42-ae5b-11e5-8ef6-fafcb9227439.png">

[2015-12-30 03:57] CharlesOkwuagwu commented on #87
Yeah, it's the snippet "file name" that's the issues.
Sorry for not making that clear initially.

[2015-12-30 20:42] #87 closed

[2016-01-30 05:43] rekyuu opened #92 "Plugin creates folders when typing File.mkdir"
If I type the line `File.mkdir("tmp")` in Sublime 3, it will make said directory in the working directory of the file.

After some testing, it also happens with `File.touch` and I'm sure a few others.

[Here's a video.](https://kyo.li/v/aflp.webm)

[2016-01-30 09:58] josevalim commented on #92
Are you sure it is this project and not https://github.com/vishnevskiy/ElixirSublime ?

[2016-01-30 11:13] rekyuu commented on #92
You know, I posted there first and thought the same thing. Turns out I had both installed. However, I did remove ElixirSublime package and the issue persisted with this Elixir package.

[2016-01-30 12:02] josevalim commented on #92
Thank you. I don't think there is anything on this package that evaluates
code. Did you reinstall sublime and the problem still persists? Help is
appreciated to find the source!

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-03-15 22:30] dougal opened #96 "Add interpolated string Snippet"
When in a string, typing `$` should expand to `${}` with the cursor between the brackets. Also when text is selected, and `$` is typed, the text should be wrapped in brackets with the `$` preceding them.

This would be identical in behaviour to the `#` snippet in the Ruby package: https://github.com/textmate/ruby.tmbundle/blob/master/Snippets/embed%20string%20variable.plist

I had a go at doing th

[2016-03-16 07:27] josevalim commented on #96
Do you mean `#` as well? Elixir uses `#` for interpolation in strings as well.

[2016-03-16 10:27] dougal commented on #96
Ah, yes, sorry. I do mean `#`. Too much ES6 yesterday.

[2016-03-29 04:24] cesarvargas00 opened #99 "Closing binary file does not get colored when using typespecs"
Like so:
<img width="341" alt="captura de tela 2016-03-29 as 01 23 44" src="https://cloud.githubusercontent.com/assets/742797/14097912/e91e2c2a-f54c-11e5-8334-951a0780d808.png">

[2016-04-06 01:02] endersstocker opened #100 "Source embedded in HTML (EEx) tag attributes not matched"
HTML’s `string` overrides EEx matches in HTML (EEx).

[2016-04-06 01:07] endersstocker commented on #100
It actually seems to be the case that all of HTML’s scopes override EEx’s in HTML (EEx).

[2016-04-10 15:44] eksperimental opened #101 "Enable Auto-pairing for common markdown chars"
I find this a missing feature when I need to use backticks around code.
Also i think I could be useful to add support for `*` and `_`

I have tried adding to `Typing Pairs.tmPreferences`
but it didn't work...any idea why?

[code]

[2016-04-10 15:45] eksperimental commented on #101
Note: I'm using  Sublime text 3

[2016-05-25 15:08] optikfluffel commented on #81
@nate Any progress on that one?

[2016-05-25 18:55] nate commented on #81
Negative, I couldn't find where they were set up and moved on. I'm closing until someone who knows how to do it chimes in.

[2016-05-25 18:55] #81 closed

[2016-08-11 14:57] #96 closed

[2016-08-16 18:05] talklittle opened #106 "Interpolated string snippet #{} should allow manually typed brace"
PR #103 was an improvement, but would be perfect if it did not duplicate the `{}` if you manually type `#{}`

As soon as you type `#` within a string, it adds the `{}` which is fine. But if you continue to type the opening brace, so you've typed `#{` so far, then it ends up as `#{{}}` which is annoying. Would be better if the manually-typed `{` is ignored.

[2016-08-16 18:21] talklittle commented on #106
https://stackoverflow.com/questions/14032041/how-to-prevent-sublime-text-2-from-swallowing-closing-brackets-quotes-and-paren has some helpful info. Defining an additional keybinding for `{` may be a solution.

[2016-08-18 20:57] #106 closed

[2016-10-17 10:52] sger opened #113 "/usr/local/bin/elixir: line 126: exec: erl: not found"
Hello,

I'm using bundle with sublime 3 my installation path is /usr/local/bin/ (homebrew installation)

and this is my build file

`{
	"cmd": ["/usr/local/bin/elixir", "$file"],
	"selector": "source.elixir",
	"windows": {
    "working_dir": "$file_path",
		"cmd": ["elixir.bat", "$file_name"]
	}
}
`

with cmd+b returns

/usr/local/bin/elixir: line 126: exec: erl: not found

any ideas?

[2016-10-17 10:53] josevalim commented on #113
@sger it is not finding the path to your erlang installation. So you need to make sure erlang is in your path.

[2016-10-17 11:07] sger commented on #113
@josevalim need to setup this within sublime?

because Erlang from the terminal is working with cmd

`erl`

`Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Eshell V8.1  (abort with ^G)
1>`

[2016-10-17 11:48] josevalim commented on #113
I have no idea. I think it would be best for you to ask at elixirforum.com or stack overflow. More people with experience would be able to help you there.

[2016-10-17 17:06] sger commented on #113
thanks @josevalim

[2016-10-18 01:06] josevalim commented on #113
Closing this for now. Please ping back if we need to reopen because it turns out to be indeed a bundle bug.

[2016-10-18 01:06] #113 closed

[2016-11-05 10:11] route opened #114 "Textmate 2"
I'm on TM2 beta nightly builds and it looks like they gonna make it 2.0 soon, so currently they got rid of Avian directory so this won't work:
[code]

instead the directory was named as for TM1 version:

[code]
Maybe we should add an extra section for those who's on TM2.0 beta nightly builds... not sure

[2016-11-05 11:06] josevalim commented on #114
Let's wait until the TM2 changes are officially released and then we can migrate. Wdyt?

[2016-11-07 15:47] route commented on #114
Yep I just thought we could mention in README these lines about nightly builds and then eventually leave just them

[2016-12-13 20:11] tgg-b-ng opened #115 "Sublime 3 troubleshooting"
For some reason, I can find this package when I'm on Sublime 2 and not 3.

[2016-12-20 01:35] princemaple commented on #99
Actually, the whole binary highlighting is broken... There is no matching starting `<<` at all.

[2017-01-19 18:53] radiospiel commented on #114
I am on Textmate 2.0 rc4 now, and the dirs in the above example seem correct, as other bundles are also in that place. However, my Textmate fails to actually show the Elixir bundle anywhere in the UI, let alone let me use it for elixir source files. What am I missing here?

[2017-01-23 08:58] #83 closed

[2017-02-08 20:44] brandondrew commented on #114
I just installed the bundle for TM2, using the TM1 directions.  All but the `osascript` line work fine.

[2017-03-20 04:25] jmnsf opened #123 "Different highlighting with default args header"
Adding a function header with a default argument is breaking syntax highlighting for this particular module. See commented line (correct highlighting):

<img width="683" alt="screen shot 2017-03-20 at 15 21 15" src="https://cloud.githubusercontent.com/assets/6831662/24088654/1823ac28-0d81-11e7-931d-ca9bb0d14b1a.png">

Uncommented:

<img width="614" alt="screen shot 2017-03-20 at 15 21 29" src="htt

[2017-03-20 11:40] #123 closed

[2017-03-29 11:07] alexandrudima opened #125 "Consider escaping ^"
I got this issue Microsoft/vscode-textmate#37 that this grammar does not tokenize in certain cases. e.g.
`nonspecial_token 123 :foo "bar"`

The root cause appears to be IMHO an issue with a certain rule:
[code]

IMHO ^ should be escaped i.e.

[code]

[2017-05-25 23:51] rickyhan opened #126 "Consider making _word or _ grey"
Since these are discarded in pattern matching syntax, the color should be grey to indicated the irrelevance. The only purpose is to signify and comment the code so grey(same as comments) should be the color.

[2017-05-28 20:51] #126 closed

[2017-06-01 13:37] yyyc514 opened #128 "Sigils inside strings should not be highlighted"
This is not right, is it?
![screen shot 2017-06-01 at 9 36 55 am](https://cloud.githubusercontent.com/assets/6473/26682276/edc70a40-46ad-11e7-8231-d2fd6a57ac06.png)

[2017-06-01 13:40] josevalim commented on #128
Looks wrong, yes. :)

[2017-06-01 13:40] yyyc514 commented on #128
Nevermind - upgraded the package and seems it's been fixed. :)

[2017-06-01 13:40] #128 closed

[2017-07-05 14:44] jish opened #132 "Create a stable release or tag"
Since the master branch is always evolving, it would be nice to have a stable release to point to for package managers.

Maybe it is just as simple as adding a tag?

[2017-08-19 18:28] voger opened #133 "[Sublime Text 3] Arrows break indentation"
I have this .exs file

[code]

And in my keybindings I have

    {"keys": ["ctrl+alt+/"], "command": "reindent", "args": {"single_line": false}},

But when I reident the file I get

[code]

This happens when the arrow `->` is at the end of the line. If the statement is in the same line then the code formatting works fine.

[code]

[2017-08-19 21:38] voger commented on #133
I did some minor change to [Indent.tmPreferences](https://github.com/elixir-editors/elixir-tmbundle/blob/master/Preferences/Indent.tmPreferences) which breaks indentation under conditionals and function definitions for the lines that end with arrow. But at least it is better than before. My regexp skills are very primitive and I haven't touched a sublime plugin before.

[code]

[code]

[2017-10-12 04:27] mwean opened #136 "Format file keybinding conflicts with default"
Hi, it looks like the new update that includes a keybinding for the format file command conflicts with the default "Slurp Find String" keybinding.

**Slurp Find String**

I think it might make sense to use another keybinding for your command, since it was very surprising when this happened, and it was tough to find out which package was causing it.

For others that want to override it, just add th

[2017-10-12 09:02] josevalim commented on #136
I agree. I will fix it. :)

[2017-10-12 09:13] #136 closed

[2017-12-20 13:25] samphilipd opened #138 "Does not support ▷ ligature"
When using Fira Code text in Sublime build 3156, all ligatures work except the right arrow ligature.

According to the Fira Code wiki:

See: https://github.com/tonsky/FiraCode/wiki#some-ligatures-work-while-some-dont

Please also see attached image:

<img width="373" alt="screen shot 2017-12-20 at 13 25 01" src="https://user-images.githubusercontent.com/4147639/34209224-37112260-e589-11e7-8de5-496

[2017-12-20 13:37] ericmj commented on #138
Is the issue with the editor or the Elixir plugin?

[2017-12-20 14:18] Thom1729 commented on #138
It's an issue with the plugin. The syntax is not marking `|>` as a single operator, but as a `keyword.operator.other.elixir` followed by a `keyword.operator.comparison.elixir`. Because the two characters have different scopes, Sublime does not allow them to form a ligature. The syntax should be modified to match `|>` as a single operator with a single scope. This will fix the problem.

[2017-12-20 15:14] josevalim commented on #138
Can you please send a PR that fixes it?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-12-20 16:20] Thom1729 commented on #138
Probably not in the immediate future; I'm trying to get two package releases out before Christmas. It should be a simple fix for someone already familiar with the `.tmLanguage`.

[2017-12-20 17:22] samphilipd commented on #138
Incidentally I found another ligature that also doesn't work - `<-` (e.g. `with x <- list, do: xxx`)

[2017-12-20 20:28] josevalim commented on #138
Thanks folks for the heads up! We will be waiting for a PR!

[2017-12-20 21:48] wbond commented on #138
If someone who uses this syntax is interested in help in making a PR, feel free to drop by the Sublime Text discord server and I'm sure someone would be happy to teach you to fish.

[2018-02-18 17:47] endersstocker opened #147 "No parameter highlighting"
Parameter highlighting was removed in 77e37ceed36359b0ffddb633ae0df0f2b6e453ff for false positives, but no adequate replacement has been introduced.

[2018-02-19 08:31] josevalim commented on #132
Master is supposed to always be stable. If desired you can pin a sha though.

[2018-02-19 08:31] #132 closed

[2018-02-19 08:32] josevalim commented on #115
The instructions in the README should be uptodate for installation.

[2018-02-19 08:32] #115 closed

[2018-02-19 08:32] josevalim commented on #114
Can someone please confirm the instructions in the README are up to date and send a PR if not? Thank you.

[2018-02-19 08:34] #125 closed

[2018-02-19 08:35] josevalim commented on #92
Please let us know if this is still up to date, I could not reproduce the issue.

[2018-02-19 08:35] #92 closed

[2018-02-27 15:44] alexandrudima commented on #125
Thanks!

[2018-07-19 09:43] evadne opened #152 "No highlighting/snippet for @typedoc, no highlighting for @moduledoc"
As subject.

[2018-07-19 09:56] josevalim commented on #152
@evadne this is what i get:

![screen shot 2018-07-19 at 11 56 03](https://user-images.githubusercontent.com/9582/42935741-be21d1a2-8b4a-11e8-83e4-910d240528db.png)

Are you seeing something different?

[2018-07-20 10:44] michalmuskala opened #153 "Continuous testing of the grammar"
We should find a solution for continuous testing of the grammar, so that a situation like https://github.com/github/linguist/issues/4203 does not happen again.

For ideas see: https://github.com/github/linguist/issues/4203#issuecomment-406562967

[2018-07-20 10:50] nixel2007 commented on #153
Also you can use original ST3 testing tools - https://www.sublimetext.com/docs/3/syntax.html#testing

don't hesitate to ping me for any info or help.

[2018-08-15 05:59] infininight commented on #114
The instructions for 2.0 work ok, for users there is a better location though:

    ~/Library/Application\ Support/TextMate/Pristine\ Copy/Bundles

This is the location used if TextMate installs a bundle via double-clicking the bundle. This location will never be written to for user changes making updating the bundle later easier. Rather than writing there a delta bundle will be created in the non

[2018-08-15 07:25] josevalim commented on #114
Being fixed as part of #155 .

[2018-08-15 07:25] #114 closed

[2018-08-15 07:26] josevalim commented on #101
Closing this as it has been stale for a while and it can lead to false positives, even if we considering only heredocs.

[2018-08-15 07:26] #101 closed

[2018-08-15 07:26] josevalim commented on #100
Fixed on #155.

[2018-08-15 07:26] #100 closed

[2018-08-15 07:27] josevalim commented on #99
PR please?

[2018-08-15 07:49] josevalim commented on #153
In master! Thanks @nixel2007 for the points, really helpful.

This repository is also great: https://github.com/SublimeText/UnitTesting

[2018-08-15 07:49] #153 closed

[2018-08-29 18:37] xtian opened #158 "Auto-formatting within a monorepo"
I work on a couple projects with multiple discrete Elixir apps in top-level directories in a single git repo. These apps are deployed independently and there are other kinds of apps as well (e.g., JS) so an umbrella project isn't appropriate.

Usually I will open the top-level directory in Sublime so I can easily work and search across apps, however the current `mix format` integration breaks in t

[2018-08-29 18:58] josevalim commented on #158
@xtian this is supported in Elixir itself. The trick is to use the subdirectories feature of the formatter. Make sure you are running on Elixir v1.7 and add this as the `.formatter.exs` in your umbrella root:

[code]

This way each umbrella child can keep its formatter identity and the umbrella root just delegates to it.

[2018-08-29 19:12] xtian commented on #158
@josevalim This is specifically not in an umbrella app context so there is no root-level `mix.exs`

[2018-08-29 19:27] josevalim commented on #158
This technique should work even without an umbrella app. IIRC the formatter does not care about mix.exs. Have you tried it?

[2018-08-29 19:31] xtian commented on #158
Yes. We use `import_deps` so we get this error:

[code]

[2018-08-29 19:46] josevalim commented on #158
Oh, good catch on the import_deps. Makes sense then, feel free to send a PR
that allows this issue to be addressed. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-11-21 13:49] tompave opened #161 "Regression in binary (string) interpolation tokenizer (Sublime Text 3)"
I think that [this change](https://github.com/elixir-editors/elixir-tmbundle/pull/155/files?utf8=%E2%9C%93&diff=unified&w=1#diff-3f0dec95dce97e31610d965d56e42acdL1358) introduced a regression in the binary interpolation syntax: `"#{}"`. It also affects heredocs (`"""`) and sigils (`~w` and `~s`, e.g. `~w(foo #{1+1})`). This is happening on Sublime Text 3 on macOS.

(I noticed this yesterday even t

[2018-11-21 14:01] josevalim commented on #161
Hi @tompave! Thanks for the detailed report.

I would honestly like this to support both editors, even if it means it is suboptimal for both, because I don't think we have enough bandwidth to maintain both. That said, I am glad to revert the definitions so they work with the examples you mentioned above, I just don't how much work it is.

Is it something you would be interested in sending a PR for

[2018-11-21 14:13] tompave commented on #161
Hi @josevalim, thank you for the quick reply!

I can give it a go, but possibly not this week. Also, if the other changes make sense, I'd rather try to "roll forward" if I can rather than rolling back everything. I'm just not familiar enough with the `tmLanguage` syntax to evaluate it on my own.

---

One correction on what I wrote initially:

Technically, I can make it work even if issue `1` is n

[2018-11-21 14:14] josevalim commented on #161
That makes sense. We can also bring @infininight in if we have any questions.

[2018-11-21 14:19] tompave commented on #161
Ok, thanks. I'll give it a stab by next week.

[2018-11-28 22:39] xtian commented on #152
I also get correct highlighting for `@typedoc` and `@moduledoc`. IMO this can be closed.

[2018-11-29 08:42] #158 closed

[2018-11-29 08:42] #152 closed

[2018-11-29 12:42] tarzan opened #163 "mix_format_on_save causes formatter to run on EEx templates in SublimeText"
I installed the package for SublimeText 3 and configured the preferences as:
[code]

Now, whenever I save an HTML(EEx) template the `mix format` task is being run on this file. I would either expect this file type to be excluded by the formatter config file or by the run command in the python script. The former is (presumably) by design and the latter goes wrong here:
https://github.com/elixir-edi

[2018-11-29 12:42] tarzan commented on #163
Any suggestions on how to fix this? I am willing to put some work in it :)

[2018-11-29 20:45] tarzan commented on #163
Would #164 be an acceptable fix?

[2018-12-05 18:57] kottkrig opened #166 "Formatter not working"
I'm using Sublime Text 3.1 and I cannot get my formatter to work.

I've enabled `format_on_save` in my package settings but whenever I save i get the following message in the ST console:

[code]

Do I need to configure anything in particular in order to get the formatter to work?

[2018-12-05 19:38] josevalim commented on #166
Hi @kottkrig, have you just installed it?

[2018-12-05 19:41] josevalim commented on #166
Actually, I have a better question, if you do `git show` in the directory you installed it, what commit SHA does it return?

Furthermore, if you do `git checkout f59c98ea68bca8e1116d23a8d7b276a4ff784da4`, does it fix the issue?

Thanks!

[2018-12-05 20:18] kottkrig commented on #166
I've installed and re-installed it a number of times during the week and the latest install was just before I posted this issue. 😃

I removed the version I had installed through the  ST Package Manager and added it manually through git. `git show` yields `16f2bc71509117dbad23e7206ddf4f7f750ed04a` but the issue remains:

[code]

[2018-12-05 20:35] josevalim commented on #166
If you checkout f59c98ea68bca8e1116d23a8d7b276a4ff784da4, does it work?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-12-05 20:38] kottkrig commented on #166
Still the same issue after checking out `f59c98ea68bca8e1116d23a8d7b276a4ff784da4`.

[2018-12-05 21:01] josevalim commented on #166
Does it fail on any project? Any file? Also, can you make sure “mix” is
available in your path? I.e. can you call “mix new foo” from the terminal?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-12-05 21:05] kottkrig commented on #166
Yes. I cannot get it to work in any of my projects. Even brand new ones created with `mix new foo`.

`mix` is available in my path.

[2018-12-05 21:09] josevalim commented on #166
Ok, I ran out of ideas then. :D sorry!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-12-09 15:20] tompave commented on #161
Hi @josevalim, apologies for the late reply.

I've finally found the time to give this a go, but I haven't been successful, sorry.

I've tried to modify the XML of the `Elixir.tmLanguage` plist, but I couldn't resolve the issues. I've tried to revert the changes to the `interpolated_elixir` dictionary, to remove the `begin` and `end` from `punctuation.section.embedded.begin.elixir`, and revert it

[2018-12-09 15:33] tompave commented on #161
To clarify, just reverting the syntax definitions seem to work, but I don't know if it breaks any of the TextMate-only files:

[code]

[2018-12-11 21:42] florish commented on #163
@tarzan Thanks for the work on #164! I ran into the same problem in Sublime Text 3 and hoped to have found a fix...

Unfortunately, after pulling the latest version from master, the problem is still there for HTML (EEx) templates. Did #164 indeed resolve this issue for you?

To be sure, on save, I get errors like this in the Sublime console:

[code]

[2018-12-12 16:20] tarzan commented on #163
Ah! I seems you are right, I was testing with false positives 'cause it didn't read my settings override of `format_on_save: true`. So, yes I still have the same issue. I did manage to fix it though: https://github.com/tarzan/elixir-tmbundle/commit/d006a4a53ad84749a54e51e728efc0ccec197a22

[2018-12-12 16:20] tarzan commented on #163
@josevalim can you re-open this issue?

[2018-12-12 17:17] josevalim commented on #163
Done! Can you please send a new PR? Or should I revert the previous one?

[2018-12-12 21:20] tarzan commented on #163
I created a new PR. Feel free to roll back the previous PR and/or rebase, I rebased mine on your current master.

[2018-12-12 23:51] #163 closed

[2018-12-13 17:31] themondays commented on #166
check elixir version then

[2018-12-14 10:07] kottkrig commented on #166
I'm using Elixir 1.7.3:

[code]

[2018-12-19 22:32] JohnKacz commented on #166
I had the same issue. Looks like ST3 is not using the correct PATH on OSX. ([source](https://forum.sublimetext.com/t/why-doesnt-sublime3-use-global-path-variable-and-how-can-i-force-it-to-use-it/39392/19)) It's actually an OSX issue not a ST3 issue (and certainly not a elixir-tmbundle issue)

There seem to be a few ways to handle this (e.g. always launching sublime from the terminal) but you can a

[2018-12-28 15:15] hauleth opened #169 "`length` and similar keywords should not be highlighted"
For the reasoning see elixir-editors/vim-elixir#431.

[2018-12-28 16:50] josevalim commented on #169
I don't quite agree. It is worth highlighting what is allowed in guards. Sure, there are custom guards but they are macros. The functions that are allowed in guards are very special and pre-defined, so I would continue highlighting them. :+1:

[2018-12-28 16:50] #169 closed

[2018-12-28 17:00] hauleth commented on #169
The problem is that this cause problems in highlighting:

![zrzut ekranu 2018-12-28 17 52 54](https://user-images.githubusercontent.com/291639/50522106-7fc79000-0ac9-11e9-8d03-fdb2f62f1ec6.png)

Here `length` isn't the same as `length/1` but is coloured anyway.

I believe that unless this list could be configured by user then it shouldn't match such values.

[2018-12-28 17:18] josevalim commented on #169
Then maybe we could improve the keyword detection so it doesn’t get
variables. Probably by requiring a space or a parens after it.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-12-28 17:19] hauleth commented on #169
@josevalim it will not work in case of `foo |> length`

[2018-12-28 18:17] josevalim commented on #169
Rght, so in face of all possible trade-offs, we need to pick something. I am fine with things as is. :)

[2019-01-02 09:47] tompave commented on #161
Hello, I was wondering if @infininight has had a look at this issue and has any pointers.

[2019-01-07 16:00] crbelaus opened #170 "Possibility of moving syntax definitions into a separate repository"
There are some other language support extensions for different editors. Some of those editors directly ([Visual Studio Code][1]) or indirectly ([Visual Studio Code][2] or [Atom][3]) can use `.tmLanguage` syntax files.

Currently there are multiple Elixir extensions for those editors:
- Visual Studio Code: [vscode-elixir](https://github.com/fr1zle/vscode-elixir), [vscode-elixir-ls](https://github.c

[2019-01-07 16:03] crbelaus commented on #170
I thought about opening this discussion in [ElixirForum][1] instead of here since it may reach a wider audience. Finally I decided to discuss it here since the maintainers opinion is the most important one.

[1]: https://elixirforum.com/

[2019-01-07 20:53] josevalim commented on #170
It is worth noting that those editors may have slightly different behaviours. For example, over the last issues there was some struggle to support both textmate and sublime text due to small differences and those are two that official support .tmlanguage.

[2019-01-07 20:53] josevalim commented on #170
And before I forget, thanks for the proposal @crbelaus!

[2019-01-08 11:48] #161 closed

[2019-02-06 23:25] ThatNerdyPikachu opened #172 "Random `<0x0d> characters keep getting inserted on auto-completions"

[2019-02-20 07:20] unnawut opened #173 "`@spec import()` considers import as `keyword.control.elixir`"
Given this code:

[code]

The syntax highlighter treats the function name in `@spec import` as an `import` keyword.

![image](https://user-images.githubusercontent.com/921194/53073356-661b5580-351a-11e9-85eb-b060f88bfb1e.png)

Expects `@spec import` to be treated as a part of the function spec. As in the screenshot above, the text should be in white rather than red.

[2019-04-14 15:06] tmepple commented on #147
I liked the old parameter highlighting also (even with the false positives mostly affecting `cond` statements) so I merged the change back into the existing master tmLanguage file.

https://gist.github.com/tmepple/368b053d95b3fda7a9ad1719c496abfe

You can easily use this file with ST3 by putting it in `/Users/username/Library/Application Support/Sublime Text 3/Packages/Elixir/Syntaxes` (on Mac --

[2019-04-18 14:41] augnustin opened #175 "Make mix format command preferencable to be docker compatible."
Since my app is hosted in a docker, in order to execute the formatting, I need to run: `docker-compose run app mix format`.

I'd like to bind it to the Sublime package to execute it on save. Is there a way to make the `mix format` parameterable, so I can edit it to my own version?

Cheers

[2019-04-18 15:12] josevalim commented on #175
I don't how to do that but if you know or if you figure it out, a PR would be appreciated!

[2019-04-18 16:54] #175 closed

[2019-07-09 19:11] zwippie opened #177 "Add syntax support for Phoenix LiveView templates"
It would be nice to have syntax support for `.html.leex` files, the file extension used by [Phoenix LiveView](https://github.com/phoenixframework/phoenix_live_view) templates.

It's the same syntax as regular HTML (EEx) files, so the solution would be a one-liner in `/Syntaxes/HTML (EEx).tmLanguage` by adding `<string>html.leex</string>` to the `fileTypes` array.

I can make a PR if you want.

[2019-07-09 19:24] josevalim commented on #177
Yess, PR please!

[2019-07-09 20:18] #177 closed

[2019-09-02 21:08] xtian opened #180 "How does the replacement for print_eex work?"
I see that the print_eex snippet was removed (https://github.com/elixir-editors/elixir-tmbundle/commit/98a9bb44bb82e208f243d10e3434c296febffe7e), but I don't understand the instructions in that commit. How do I get the `<%= … %>` snippet?

My only guess was that `^>` refers to the key binding <kbd>Ctrl+></kbd>, but I can't get that to do anything in Sublime Text 3.

[2019-09-02 21:51] josevalim commented on #180
`ee<TAB>` which is what `print_eex` did still works. AFAIK the `^<` is for finding the next tag.

[2019-09-02 21:52] xtian commented on #180
`ee<TAB>` produces `<% … %>` for me. I'm trying to get `<%= … %>`.

[2019-09-02 22:10] josevalim commented on #180
Afaik we never supported that?

[2019-09-02 22:10] josevalim commented on #180
Oh, ignore me. That was Print EEx. Yes, we should probably add it back then.

[2020-03-08 10:17] optikfluffel opened #183 "Nested double quotes break highlighting in .eex files"
Example from a newly setup Phoenix project with broken highlighting on Lines 8, 20 and 29:
![Screenshot 2020-03-08 at 11 07 50](https://user-images.githubusercontent.com/379915/76160857-ff210c80-612d-11ea-9494-bbeab70d0ddb.png)

[2020-03-08 11:05] josevalim commented on #183
Yeah, this has been annoying the hell out of me. :/ but I haven't had the time to take a proper look at it yet. If you could take a look at it, it would be great! :heart:

[2020-03-10 20:54] egze opened #184 "Support for inline LiveView templates"
What is the right place to add support for inline templates?

Here is an example:

[code]

Ideally I would like the part inside the sigil to be highlighted as eex html template.

[2020-03-10 21:24] josevalim commented on #184
This is certainly the repo but I am not quite sure how to implement it. Perhaps look at how other languages do something similar. I think Ruby for example does <<-SQL and so on. A PR is welcome!

[2020-03-10 21:25] egze commented on #184
Cool, I'll look into it. Thanks

[2020-03-10 22:13] ankopainting commented on #184
This might help :)
https://github.com/drnic/ruby-tmbundle/blob/686d46d86deefafaa4077346f829ad335216ec94/Syntaxes/Ruby.plist#L1770-L1816

[2020-05-25 05:29] ericsongray commented on #184
Did you figure out how to do this. Sublime Text 3 is my favorite editor. VS Code is the only editor that I know of that currently supports syntax highlighting for .leex files

[2020-05-25 12:56] egze commented on #184
I started and made this https://gist.github.com/egze/07721af578b18d349f0e8571f115d6aa

But it is buggy. Doesn't highlight properly stuff like `<p><%= @something %></p>`, so a mix of html and elixir code. After some trial and error - I gave up. The development process of making a Syntax highlighter in TextMate is insanely wonky, with not a lot of documentation.

Maybe there is a good tool where you

[2020-05-25 16:05] ericsongray commented on #184
I prefer Sublime over VS code and Atom but I agree extending syntax highlighting is a real pain. I think @josevalim and @ankopainting had the right idea but I don't have the know how to implement it. Thanks for your effort.

[2020-09-19 02:11] #99 closed

[2021-05-17 23:23] azizk opened #188 "Excited to present revamped syntax highlighting"
Hi, Jośe!

Since I work daily with Elixir and Sublime Text, I was curious to see if I could improve the syntax highlighting definition.

I was aware of this package here, but honestly, I couldn't imagine working on regular expressions in an XML file. I decided to work on @princemaple's project instead. On occasion I made little contributions to it, but last October I began to work on a full rewrit

[2021-05-18 07:56] josevalim commented on #188
Hi @azizk! We had this discussion in the past and I believe the main reason for not merging is because the XML files also work for Textmate. Is there any way we can keep Textmate compatibility? Thank you for your work!

[2021-05-18 22:04] azizk commented on #188
Yes, I saw that PR, but I'm not necessarily trying to do the same. I believe if someone were keen on translating my work to Textmate's XML format then perhaps they could achieve that in one or two weekends. Provided there is a good tool for automatic translation and provided the (Oniguruma) regular expressions I wrote are compatible with the engine used in TM. I didn't use any of the new features

[2021-05-19 07:18] josevalim commented on #188
Oh, I see! What happens if both your package and this package are installed? Which one "wins"?

In any case, I am :+1: with adding your version upstream. Syntax additions to the language are very rare, so we should be fine. Just make sure you handle stepped ranges (basically the `//` in `x..y//z`) as well as `defn` and `defnp` from Nx properly. :)

[2021-05-19 07:31] princemaple commented on #188
In Sublime I believe if a native syntax definition (`.sublime-syntax`) exists, it'd be preferred by the editor. It's easily customizable though. Users can choose to always use another syntax definition.

[2021-05-19 21:48] azizk commented on #188
Don't worry, José, I added those as soon as they made an appearance. :wink: :+1:

So I tried it out but the other way around. ElixirSyntax was already installed and I added elixir-tmbundle next to it. Nothing major happens. You can choose any syntax definition and both are named "Elixir" (via the View menu, the status bar or command palette). ST remembers the path to the chosen syntax in the sessi

[2021-06-04 19:56] danilokleber commented on #166
I'm getting this error on ST4.

[code]

Already have checked for the correct PATH. It worked fine on ST3.

[2021-06-05 15:15] liveforeverx opened #189 "Sublime Text 4 crashes due to saving Elixir files"
I have fresh new installation of Sublime Text 4 (to verify, that it happens with Elixir plugin - so I'm not sure, it is problem of a plugin). The only package is installed is - Elixir.

Whenever I try to save any `.ex` File (doesn't happen with other files) - the Sublime crashes. I saw the same behaviour on fully installed Sublime and again only on Elixir files, so I tried to replicate with a fres

[2021-06-05 15:25] josevalim commented on #189
Do you have format on save or similar? It may be related to #166.

[2021-06-05 15:39] liveforeverx commented on #189
@josevalim That was the first thing, which I tried, I disabled in old installation, but it happens without format on save.

Now, I have installed package additionally manually, to try to find the error, and I have this lines added:

<img width="536" alt="Screenshot 2021-06-05 at 17 36 36" src="https://user-images.githubusercontent.com/660306/120897036-97a18780-c624-11eb-9b61-d44bd0c568b7.png">

Fo

[2021-06-05 15:42] liveforeverx commented on #189
I tried to install some non-standard syntax highlighting (for example: Julia) - saving new files with `.jl` extension doesn't crash Sublime.

[2021-06-05 15:52] liveforeverx commented on #189
I could reproduce it with other files (it just happens not always). So, it isn't related to Elixir.

Sorry for bothering! I'm closing it now. Thank you for very quick answer!

Will try to open by Sublime.

[2021-06-05 17:36] #189 closed

[2021-06-06 12:40] sergchernata commented on #166
Same exact issue here. Tested with Sublime 3 and 4.

[2021-06-09 13:57] danilokleber commented on #166
Any updates on this?

[2021-09-22 19:58] azizk commented on #188
Hey José!

As we talked at ElixirConf, the conclusion of trying to get the package into Sublime Text 4 is that it's not going to work out. The required changes would take an enormous amount of effort and they don't really warrant the imagined benefits. So ElixirSyntax is going to remain an external package as it is now.

Anway, v2.2.0 is out with support for HEEx and Surface! Here is my tweet if y

[2021-09-22 20:20] azizk commented on #188
Btw, maybe you'd like to link to ElixirSyntax in the README as an alternative package...

[2021-09-22 20:55] josevalim commented on #188
Yes, a PR to update the README is very welcome!

[2022-08-21 20:56] azizk commented on #188
Hi, @josevalim!

As I mentioned on the elixir-sublime-syntax [issue board](https://github.com/elixir-sublime/elixir-sublime-syntax/issues/45) I'd like to move that project under the elixir-editors umbrella. I think it's a better place for it to be here. What do you think? Can we do that? :slightly_smiling_face:

[2022-08-21 21:47] #188 closed

[2022-08-21 21:47] josevalim commented on #188
Add me as an admin to the repo and I can transfer it (and remove myself as an admin).